BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
PointerAlignment: Left
ColumnLimit: 160
AccessModifierOffset: -4
BreakBeforeBraces: Allman
EmptyLineAfterAccessModifier: Always
SortIncludes: false
AllowShortIfStatementsOnASingleLine: WithoutElse  
